{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Project 2</h1>
    <p class="lead">Social Media Channeled Chat with games, whiteboard and file exchange.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            List of Users.
        </p>
        <p></p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Posts</h2>
        <p>Repository of messages.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Files</h2>
        <p>Shared Items.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
